


.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  /* max-width: 1280px; */
  margin: 0 auto;
  padding:20px
}


form {
  display: flex;
  flex-direction: column;
}
.error {
  border: 3px solid red;
}
.row {
  display: flex;
  justify-content: space-around;
}
input {
  margin-bottom: 10px;
  border: none;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
}
button {
  /* border:none; */
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}


